<c-modal [visible]="visible" (visibleChange)="onVisibleChange($event)" size="xl" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>{{ cryptoName }} Price Chart</h5>
    <button cButtonClose (click)="closeModal()"></button>
  </c-modal-header>
  <c-modal-body>
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div>
        <h6 class="mb-0">Current Price: <strong>{{ currentPrice | currency }}</strong></h6>
      </div>
    </div>
    
    <div class="chart-container" style="height: 500px;">
      <div id="tradingview_widget" style="height: 100%; width: 100%;"></div>
    </div>
  </c-modal-body>
</c-modal>
