.chart-container {
    position: relative;
    height: 400px;
    width: 100%;

    .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}

c-button-group {
    button {
        min-width: 60px;
    }
}